@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Oswald&display=swap');


.MuiAppBar-root {
    background: white;
    color: orangered;
}

.img {
    max-width: 160;
}

.navButton {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}