#Name of the DB
POSTGRES_DB=postgres_db

#Name of the user we will access with
POSTGRES_USER= username

#Password of the user
POSTGRES_PASSWORD= password

#Port that you will access the DB From
POSTGRES_PORT=5432